
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f1f5f8;
}
.header-container{
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin: 0 auto;
    /* background: url(library.jpg) no-repeat; */
    background-size: cover;
    
}
.form{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 50%;
    margin: 0 auto;
    position: absolute; 
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
   color:white;
   /* background: #4caf50; */
   
}
.form-control{
    width: 100%;
    font-size: 1rem;
    padding: 8px 0;
    margin: 8p 0;
    border-bottom: 1px solid #4caf50;
}
.form-control label{
    width: 100px;
    float: left;
    text-align: center;
}
.form-control input{
    border: none;
    outline: none;
    /* background: none; */
    font-size: 1.1rem;
    width: 70%;
    float: left;
}
.add-btn{
    width: 100%;
    background: white;
    border: none;
    color: #4caf50;
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 auto;
}